# Python
__pycache__/
*.pyc
venv/
.env

# Base de datos local
*.db
*.sqlite3

# Node / editores
node_modules/
.DS_Store
.vscode/

# Logs
backend/logs
*.log

# Documentos subidos por voluntarios
backend/uploads/
